* {
    padding: 0;
    margin: 0;  
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.609);
}
p{
    color: darkgray;
    font-size: 25px;
}
.cus_padding{
    padding: 25px 0px;
}
.custom_width{
    display: flex;
    width: 85%;
    margin: auto;
}
.food_content{
    width: 50%;
    margin-top: 160px;
}
.food_bg_img{
    width: 50%;
}

button{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(50deg, #F88F49, #F34C2E);
    color: #fff;
    border: tomato;
    margin-bottom: 25px;
}
.food_bg_img img{
    width: 800px;
}
.about_bg_img{
    background-image: url(images/shapes/Frame59.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.about_img img{
    width: 380px;
    padding-top: 70px;
}
.cust_padding p{
    text-align: center; 
    width: 50%;
     margin:auto; 
    color: black;
}

.Recipie_left{
    width: 32%;
  
}
.box_shadow{
    background-color: #fff;
}
.Recipie_mid{
    width: 32%;
}
.Recipie_right{
    width: 32%;
}

#box_shadow{
    margin: 36px;
    padding: 22px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 7px 40px gray;

}


#recipie_img{
    width: 400px;
}

#counter_width{
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}

footer{
    background-color: rgb(50, 54, 57);
    margin: 0;
    padding: 20px 0px;
    margin-top: 30px;
}




@media only screen and (max-width: 500px) {
    .custom_width{
        display: block;        
    }

    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 43px;
        color: rgba(0, 0, 0, 0.609);
    }
   
    .food_content{
        width: 100%;
        margin-top: 50px;
    }

    .food_bg_img img{
        width: 425px;
    }

    .cust_padding p{
        text-align: center; 
        width: 80%;
         margin:auto; 
        color: black;
        text-align: justify;
    }

    .Recipie_left{
        width: 100%; 
    }
    .Recipie_mid{
        width: 100%; 
    }
    .Recipie_right{
        width: 100%; 
    }

    #recipie_img{
        width: 306px;
    }
  }




